{% extends "coinexchange/leftnav.html" %}

{% block title %}
POS Admin - {{user.username}}
{% endblock %}

{% block innercontent %}
<style type="text/css">
form#merchant_settings_form input#id_btc_payout_address {
	width: 100%
}
</style>
<ul class="nav nav-tabs" id="posTab">
	<li class="active"><a data-toggle="tab" href="#newbatch">Unbatched</a></li>
	<li><a data-toggle="tab" href="#batch">Batches</a></li>
	<li><a data-toggle="tab" href="#settings">Settings</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="newbatch">
		{% if unbatched_tx %}
		<button id="makebatch" style="float:right;" class="btn btn-primary">Make Batch</button>
		{% endif %}
		<h3>Unbatched POS Transactions</h3>
		<table class="table table-condensed table-striped">
			<tr>
				<th>Amount</th>
				<th>Exchange Rate</th>
				<th>Timestamp</th>
				<th>Confirmations</th>
			</tr>
			<tr>
				<th></th>
				<th colspan="3">Transaction ID</th>
			</tr>
		{% for tx in unbatched_tx %}
			<tr>
				<td>{{tx.amount}}</td>
				<td>{{tx.currency_btc_exchange_rate}}</td>
				<td>{{tx.tx_timestamp}}</td>
				<td>{{tx.tx_detail.confirmations}}</td>
			</tr>
			<tr>
				<td></td>
				<td colspan="3">
					<a href="http://blockchain.info/tx/{{tx.btc_txid}}" target="_blank">
						{{tx.btc_txid}}
					</a>
				</td>
			</tr>
		{% endfor %}
		</table>
	</div>
	<div class="tab-pane" id="batch">
		<h3>Transaction Batches</h3>
		<table class="table table-condensed table-striped">
			<tr>
				<th>ID</th>
				<th>Amount</th>
				<th>Fee</th>
				<th>Timestamp</th>
			</tr>
			<tr>
				<th></th>
				<th colspan="3">Transaction ID</th>
			</tr>
			{% for batch in batches %}
			<tr>
				<td>
					<a href="{% url 'pos_batch' batch.id %}">{{batch.id}}</a>
				</td>
				<td>{{batch.btc_amount}} BTC</td>
				<td>{{batch.btc_tx_fee}}</td>
				<td>
					{{batch.batch_timestamp}}
				</td>
			</tr>
			<tr>
				<td></td>
				<td colspan="3">
					{% if batch.txid %}
					<a href="http://blockchain.info/tx/{{batch.txid}}" target="_blank">
						{{batch.txid}}
					</a>
					{% else %}
					-
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	<div class="tab-pane" id="settings">
		<h3>Merchant Settings</h3>
		<form action="#" id="merchant_settings_form">
			<table class="table table-condensed">
			{{settings_form.as_table}}
			<tr>
				<td></td>
				<td style="text-align: right;">
					<button id="save_merchant_settings">Save</button>
				</td>
			</tr>
			</table>
			<p></p>
		</form>
	</div>
</div>

<script type="application/javascript">
$('#makebatch').bind("click", function(){
	$.ajax({
		type: 'GET',
		url: '{% url "pos_make_batch" %}',
		dataType: 'json',
		success: function(data, textStatus, xhr){
			alert("Batch created: "+data.raw_tx.txid);
			location.reload();
		},
		error: function(xhr, textStatus, errorThrown){
			alert("Unable to make batch. "+textStatus);
		}
	});
});
$('button#save_merchant_settings').bind("click", function(){
	var btc_addr = $('input#id_btc_payout_address').val();
	var data = {btc_payout_address: btc_addr}
	$.ajax({
		type: 'post',
		url: '{% url "pos_merchant_settings" %}',
		dataType: 'json',
		traditional: true,
		data: data,
		success: function(data, textStatus, xhr){
			if (data.error){
				display_error(data.response);
			}else{
				display_success("Merchant Settings saved.");
			}
		},
		error: function(xhr, textStatus, errorThrown){
			alert("Error saving settings.");
		}
	});
	return false;
});
var debug_e;

</script>

{% endblock %}
