{% extends "coinexchange/leftnav.html" %}

{% block title %}
POS Admin - {{user.username}}
{% endblock %}

{% block innercontent %}
<ul class="nav nav-tabs" id="posTab">
	<li class="active"><a data-toggle="tab" href="#newbatch">Unbatched</a></li>
	<li><a data-toggle="tab" href="#batch">Batches</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="newbatch">
		{% if unbatched_tx %}
		<button id="makebatch" style="float:right;" class="btn btn-primary">Make Batch</button>
		{% endif %}
		<h3>Unbatched POS Transactions</h3>
		<table class="table table-condensed table-striped">
			<tr>
				<th>Amount</th>
				<th>Exchange Rate</th>
				<th>Timestamp</th>
				<th>Confirmations</th>
				<th>Blockchain<br/>Details</th>
			</tr>
		{% for tx in unbatched_tx %}
			<tr>
				<td>{{tx.amount}}</td>
				<td>{{tx.currency_btc_exchange_rate}}</td>
				<td>{{tx.tx_timestamp}}</td>
				<td>{{tx.tx_detail.confirmations}}</td>
				<td>
					<a class="btn btn-default" href="http://blockchain.info/tx/{{tx.btc_txid}}" target="_blank">
						<span class="glyphicon glyphicon-info-sign"></span>
					</a>

				</td>
			</tr>
		{% endfor %}
		</table>
	</div>
	<div class="tab-pane" id="batch">
		<h3>Transaction Batches</h3>
		<table class="table table-condensed table-striped">
			<tr>
				<th>Details</th>
				<th>Amount</th>
				<th>BTC</th>
				<th>Gain/Loss</th>
				<th>Timestamp</th>
				<th>Blockchain<br/>Details</th>
			</tr>
			{% for batch in batches %}
			<tr class="batch_row" batchid="{{batch.id}}">
				<td>
					<a href="{% url 'pos_batch' batch.id %}">
						<button class="btn btn-primary">
							Details
						</button>
					</a>
				</td>
				<td>{{batch.batch_amount|floatformat:2}}</td>
				<td>{{batch.btc_amount}} BTC</td>
				<td>
					{% if batch.batch_amount %}
					<span class="btn {% if batch.realized_gain > 0 %}btn-success{% else %}btn-warning{% endif %}">
						{{batch.realized_gain|floatformat:2}}
					</span>
					{% endif %}
				</td>
				<td>{{batch.batch_timestamp}}</td>
				<td>
					{% if batch.txid %}
					<a class="btn btn-default" href="http://blockchain.info/tx/{{batch.txid}}" target="_blank">
						<span class="glyphicon glyphicon-info-sign"></span>
					</a>
					{% else %}
					-
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>

<script type="application/javascript">
// $('.batch_row').bind("click", function(ev){
	// var batch_id = $(ev.currentTarget).attr('batchid');
	// window.location.href = "/account/pos/batch/"+batch_id;
// });
$('#makebatch').bind("click", function(){
	$.ajax({
		type: 'GET',
		url: '{% url "pos_make_batch" %}',
		dataType: 'json',
		success: function(data, textStatus, xhr){
			if(data.error){
				alert(data.status);
			}else{
				alert("Batch created.");
				location.reload();
			}
		},
		error: function(xhr, textStatus, errorThrown){
			alert("Unable to make batch. "+textStatus);
		}
	});
});

</script>

{% endblock %}
