{% extends "coinexchange/leftnav.html" %}

{% block title %}
POS Admin - {{user.username}}
{% endblock %}

{% block innercontent %}
<ul class="nav nav-tabs" id="posTab">
	<li class="active"><a data-toggle="tab" href="#account">Account Home</a></li>
	<li><a data-toggle="tab" href="#reports">Reports</a></li>
	<li><a data-toggle="tab" href="#batch">Completed Batches</a></li>
	<li><a data-toggle="tab" href="#newbatch">Open Batch</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="account">
		<div class="row" style="margin-top: 10px;">
			<div class="col-md-6">
				<div class="panel panel-info">
					<div class="panel-heading">
						<h4>Welcome to Bitcoin Retail</h4>
					</div>
					<div class="panel-body">
						<p>
							Here you can manage your Bitcoin Retail account.
							Bitcoin Retail lets you accept payments in Bitcoin and adds all of your
							transactions to the current Open Batch.
						</p>
						<p>
							At the end of the day (or any time you like) you can make a payment batch using
							the currently completed transactions.  Do this by clicking the 'Make Batch'
							button on the 'Open Batch' tab.
						</p>
						<p>
							When you make a payment batch the bitcoin you received is converted to USD and
							deposited into your bank account.  Bitcoin Retail then collects all of the details
							about the batch and records them so you can generate batch reports when doing your
							accounting later.
						</p>
						<p>
							Bitcoin Retail requires a 1% fee for helping with your accounting.
							When you make a payment batch 1% (or a minumum $.40 at current exchange rate)
							of your collected bitcoin will be sent to Bitcoin Retail before
							the payout batch is processed. This shows up in the batch details as the
							'Batch Processing Fee' and is itemized separately from the coinbase payout fee.
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-success">
					<div class="panel-heading">
						Where do I go now?
					</div>
					<div class="panel-body">
						<p>
							<strong>Point of Sale</strong>
							Use the point of sale page to generate transactions.  Enter a reference value
							that correlates with anything you care to know and an amount.  Bitcoin Retail
							will look up the exchange rate and generate a payment QR code that your customer
							can then scan and pay.  Once the customer has paid the transaction on the point
							of sale screen will turn green.
						</p>
						<p>
							<strong>Settings</strong>
							Use the settings page to configure bitcoin retail to use your coinbase account.
						</p>
						<p>
							<strong>Reports</strong>
							Use the Reports tab to get more detailed information about
							your payment batches across any interval you select.
						</p>
						<p>
							<strong>Completed Batches</strong>
							See a list of batches that have been closed and have either been paid
							or are in process of being paid out.
						</p>
						<p>
							<strong>Open Batch</strong>
							View the transactions you have received that have not been paid out.
							Go here to make a payment batch to start the payout process.
						</p>
					</div>
				</div>
			</div>
		</div>
			<!-- <a class="coinexchange-help glyphicon glyphicon-question-sign" help-document="testing" help-title="Test Help Document"></a> -->
	</div>
	<div class="tab-pane" id="reports">
		<h3>Select a date range.</h3>
		<div class="row">
			<div class="col-md-3">
				<div class="input-group date date-start">
					<span class="input-group-addon">Start</span>
					<input type="text" class="form-control" id="start_date"/>
					<span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
				</div>
			</div>
			<div class="col-md-3">
				<div class="input-group date date-end">
					<span class="input-group-addon">End</span>
					<input type="text" class="form-control" id="end_date"/>
					<span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
				</div>
			</div>
			<div class="col-md-2">
				<button class="btn btn-primary" id="generate_batch_report">Generate Batch Report</button>
			</div>

		</div>
	</div>
	<script type="application/javascript">
		var date = new Date()
		var endDate = date.getMonth()+'/'+date.getDate()+'/'+date.getFullYear();
		$('.input-group.date.date-start').datepicker({endDate:endDate});
		$('.input-group.date.date-end').datepicker({endDate:endDate});
		$('#generate_batch_report').bind('click', function(){
			var start_date = $('#start_date').val();
			var end_date = $('#end_date').val();
			alert("Generate a batch report. "+start_date+'-'+end_date);
		});
	</script>
	<div class="tab-pane" id="newbatch">
		{% if unbatched_tx %}
		<button id="makebatch" style="float:right;" class="btn btn-primary">Make Batch</button>
		{% endif %}
		<h3>Unbatched POS Transactions</h3>
		<table class="table table-condensed table-striped">
			<tr>
				<th>Amount</th>
				<th>Exchange Rate</th>
				<th>Timestamp</th>
				<th>Status</th>
				<th>Blockchain<br/>Details</th>
			</tr>
		{% for tx in unbatched_tx %}
			<tr>
				<td>{{tx.amount|floatformat:2}}</td>
				<td>{{tx.currency_btc_exchange_rate|floatformat:2}}</td>
				<td>{{tx.tx_timestamp}}</td>
				<td>
					<span class="unbatched_tx_status" txid="{{tx.coinbase_txid}}">
						<img src="/static/loading.gif" alt="loading...">
					</span>
				</td>
				<td>
					<a class="btn btn-default" href="http://blockchain.info/tx/{{tx.btc_txid}}" target="_blank">
						<span class="glyphicon glyphicon-info-sign"></span>
					</a>

				</td>
			</tr>
		{% endfor %}
		</table>
	</div>
	<div class="tab-pane" id="batch">
		<h3>Transaction Batches</h3>
		<table class="table table-condensed table-striped">
			<tr>
				<th>Details</th>
				<th>BTC</th>
				<th>Average<br/>Exchange Rate</th>
				<th>Captured<span class="glyphicon glyphicon-usd"></span></th>
				<th>Realized<span class="glyphicon glyphicon-usd"></span></th>
				<th>Gain/Loss</th>
				<th>Timestamp</th>
				<th>Blockchain<br/>Details</th>
			</tr>
			{% for batch in batches %}
			<tr class="batch_row" batchid="{{batch.id}}">
				<td>
					<a href="{% url 'pos_batch' batch.id %}">
						<button class="btn btn-primary">
							Details
						</button>
					</a>
				</td>
				<td>{{batch.btc_amount}}</td>
				<td>{{batch.captured_avg_exchange_rate|floatformat:2}}</td>
				<td>{{batch.captured_amount|floatformat:2}}</td>
				<td>{{batch.total_realized_value|floatformat:2}}</td>
				<td>
					{% if batch.coinbase_payout %}
						{% if batch.batch_amount %}
						<span class="btn {% if batch.realized_gain > 0 %}btn-success{% else %}btn-warning{% endif %}">
							{{batch.realized_gain|floatformat:2}}
						</span>
						{% else %}
						<span class="btn btn-danger">Pending</span>
						{% endif %}
					{% else %}
						<span class="btn btn-info">BTC Transfer</span>
					{% endif %}
				</td>
				<td>{{batch.batch_timestamp}}</td>
				<td>
					{% if batch.txid %}
					<a class="btn btn-default" href="http://blockchain.info/tx/{{batch.txid}}?show_adv=true" target="_blank">
						<span class="glyphicon glyphicon-link"></span>
					</a>
					{% else %}
					-
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>

<script type="application/javascript">
// $('.batch_row').bind("click", function(ev){
	// var batch_id = $(ev.currentTarget).attr('batchid');
	// window.location.href = "/account/pos/batch/"+batch_id;
// });
$('#makebatch').bind("click", function(){
	$.ajax({
		type: 'GET',
		url: '{% url "pos_make_batch" %}',
		dataType: 'json',
		success: function(data, textStatus, xhr){
			if(data.error){
				alert(data.status);
			}else{
				alert("Batch created.");
				location.reload();
			}
		},
		error: function(xhr, textStatus, errorThrown){
			alert("Unable to make batch. "+textStatus);
		}
	});
});

$(document).ready(function(){
	// <span class="unbatched_tx_status" txid="{{tx.coinbase_txid}}">
	var utx = $('span.unbatched_tx_status');
	for(var i=0;i<utx.length;i++){
		var tx_span = $(utx[i]);
		var txid = tx_span.attr('txid');
		var url = "/account/pos/coinbase_txid/"+txid;
		$.ajax({
			type: "get",
			url: url,
			dataType: 'json',
			success: function(data, textStatus, xhr){
				if(data.status){
					tx_span.html(data.status);
				}else{
					tx_span.html('Error 1');
				}
			},
			error: function(xhr, textStatus, errorThrown){
				tx_span.html('Error 2');
			}
		});
		// alert(url);
	}
});

</script>

{% endblock %}
