{% extends "coinexchange/leftnav.html" %}

{% block title %}
POS Admin - batch {{batch.id}} - {{user.username}}
{% endblock %}

{% block innercontent %}
<h2>Batch #{{batch.id}}</h2>
<p><a href="{% url 'pos_admin' %}">Back</a></p>
<div class="col-md-6">
	<div class="panel panel-success">
		<div class="panel-heading">Captured Amount</div>
		<div class="panel-body">
			<p>Total Amount: {{total_amount|floatformat:2}}</p>
			<p>Total Bitcoin: {{total_bitcoin}}</p>
			<p>Average Exchange Rate: {{average_exchange_rate|floatformat:2}}</p>
		</div>
	</div>
</div>
<div class="col-md-6">
	<div class="panel panel-warning">
		<div class="panel-heading">Realized Amount</div>
		<div class="panel-body">
			<p>Amount Received: </p>
			<p>Effective Exchange Rate: </p>
			<p>Total Fees: </p>
		</div>
	</div>
</div>

<table class="table table-condensed table-striped">
	<tr>
		<th>Amount</th>
		<th>BTC Amount</th>
		<th>Exchange<br/>Rate</th>
		<th>Timestamp</th>
		<th>Blockchain<br/>Details</th>
	</tr>
	{% for tx in transactions %}
	<tr>
		<td>{{tx.amount|floatformat:2}} {{tx.currency}}</td>
		<td>{{tx.btc_amount}}</td>
		<td>{{tx.currency_btc_exchange_rate|floatformat:2}}</td>
		<td>{{tx.tx_timestamp}}</td>
		<td>
			<a class="btn btn-default" href="http://blockchain.info/tx/{{tx.btc_txid}}" target="_blank">
				<span class="glyphicon glyphicon-info-sign"></span>
			</a>
		</td>
	</tr>
	{% endfor %}
</table>


{% endblock %}
