{% extends "coinexchange/pos/base.html" %}

{% block title %}
CoinExchange Sale
{% endblock %}

{% block content %}
<script type="application/javascript" src="/static/qr/qrcode.js"></script>

<h2>Point of Sale Home</h2>

<div class="span12">
	<div class="row">
		<div class="span2">
			<div class="btn-group-vertical">
				<button style="width:120px;height:70px;" type="button" class="btn btn-default btn-primary" data-toggle="modal" data-target="#new-sale" id="newSaleButton">New Sale</button>
				<button style="width:120px;" type="button" class="btn btn-default" id="test-btn">Test</button>
			</div>
		</div>
		<div class="span10">
			<div class="row" id="sale_status_area">
				
			</div>
		</div>
	</div>
</div>




<div class="modal fade" id="new-sale" tabindex="-1" role="dialog" aria-labelledby="newSaleModal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="newSaleModal">New Sale</h4>
			</div>
			<div class="modal-body" id="newSaleBody">
				<form id="newSaleForm">
					<table>
					{{new_sales_form.as_table}}
					<tr>
						<td style="width: 50%;">
						</td>
						<td>
							<button type="button" class="btn btn-default btn-primary" id="newSaleSubmit">OK</button>
						</td>
					</tr>
					</table>
				</form>
				<div id="newSaleQR" style="text-align: center;"></div>
			</div>
		</div>
	</div>
</div>





<div id="handlebar-test" class="span12"></div>

<script type="application/javascript" src="/static/pos/pos.js"></script>

Address: {{coinexchange_account.address}}

{% endblock %}
