<!DOCTYPE html>
<html>
	<head>
		<title>
			{% block title %}{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
		<link href="/static/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet"/>
		<link href="/static/coinexchange.css" rel="stylesheet"/>

		{% block head %}{% endblock %}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="/static/bootstrap/js/bootstrap.min.js"></script>
		<script src="/static/handlebars-v1.3.0.js"></script>
		<script src="/static/handlebar_http_template.js"></script>
		<script src="/account/api/js"></script>
	</head>
	<body role="document">
	<div class="navbar navbar-inverse navbar-fixed-top" role="navbar">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Bitcoin Retail</a>
				<div class="nav-collapse collapse">
				</div>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="/">Home</a></li>
				</ul>
				<ul class="nav navbar-nav pull-right">
						{% if user and user.is_authenticated %}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								{{user.username}} <b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="{% url "account_home" %}">Your Account</a></li>
								{% if user.is_superuser %}
								<li><a href="/djangoadmin">Django Admin Portal</a></li>
								{% endif %}
								<li><a href="{% url "account_settings" %}">Settings</a></li>
								<li><a href="{% url "auth_logout" %}?next=/">Logout</a></li>
							</ul>
						</li>
						{% else %}
						<li><a href="{% url "auth_login" %}">Login</a></li>
						<li><a href="{% url "account_signup" %}">Signup</a></li>
						{% endif %}
					</ul>
			</div>
		</div>
	</div>
	<div class="container theme-showcase" role="main" style="margin-top:60px;"> <!--  -->
		<div class="row" id="status_messages">
		{% if status_messages.list_errors %}
				{% for e in status_messages.consume_errors %}
			<div class="col-md-12">Error: {{e}}</div>
				{% endfor %}
		{% endif %}
		{% if status_messages.list_warnings %}
				{% for e in status_messages.consume_warnings %}
			<div class="col-md-12">Warning: {{e}}</div>
				{% endfor %}
		{% endif %}
		{% if status_messages.list_success %}
				{% for e in status_messages.consume_success %}
			<div class="col-md-12">Success: {{e}}</div>
				{% endfor %}
		{% endif %}
		</div>
		{% block content %}		
		{% endblock %}
	</div>
	<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true" id="help-modal">
		<div class="modal-dialog modal-md">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 id="help-modal-header">Loading Help...</h4>
				</div>
				<div class="modal-body" id="help-modal-body">
					Loading help text...
				</div>
			</div>
		</div>
	</div>
	</body>
</html>