{% extends "coinexchange/base.html" %}

{% block content %}
<div class="row">
	<div class="col-md-2">
		{% if user and user.is_authenticated %}
		<ul class="panel-body nav nav-tabs nav-stacked">
			{% if not coinexchange_account.coinbase_unavailable %}
			<li>
				<a href="{% url 'pos_home' %}">
					Point of Sale
				</a>
			</li>
			{% endif %}
			<li><a href="{% url "account_home" %}">Account Home</a></li>
			<li><a href="{% url "account_settings" %}">Settings</a></li>
		</ul>
		{% else %}
		<div class="panel panel-success">
			<div class="panel-heading">Welcome</div>
			<div class="panel-body">
				<a class="btn btn-primary" href="{% url 'auth_login' %}">Login</a>
			</div>
		</div>
		{% endif %}
	</div>
	<div class="col-md-10">
		{% block innercontent %}
		{% endblock %}
	</div>

</div>
{% endblock %}
