{% extends "coinexchange/base.html" %}

{% block 'content' %}

<div class="row">
	<div class="span8">
		{% block 'accountcontent' %}
		{% endblock %}
	</div>
	<div class="span4">
		<h3>Account Information</h3>
		<h5>Balance</h5>
		<p>{{coinexchange_account.balance|floatformat:8}}</p>
		{% if coinexchange_account.balance > 0 %}
		<p><a href="{% url account_withdrawl %}">Withdraw Bitcoin</a></p>
		{% endif %}
		<h5>Bitcoin Address</h5>
		<p>{{coinexchange_account.address}}</p>
	</div>
</div>


{% endblock %}
