{% extends "coinexchange/leftnav.html" %}

{% block title %}
Deposit Bitcoin - {{user.username}}
{% endblock %}

{% block innercontent %}
<div class="row">
	<div class="span4 offset3">
		<h2>Deposit Bitcoin</h2>
		<p>{{coinexchange_account.address}}</p>
		<p id="bitcoin_address_qr"></p>
		<script type="application/javascript" src="/static/qr/qrcode.js"></script>
		<script type="application/javascript">
			var qr = qrcode(4, 'M');
			qr.addData('bitcoin:{{coinexchange_account.address}}');
			qr.make();
			document.getElementById('bitcoin_address_qr').innerHTML = qr.createImgTag(7,5);
		</script>

	</div>
</div>


{% endblock %}
