{% extends "coinexchange/leftnav.html" %}

{% block title %}
Account Settings for {{user.username}}
{% endblock %}

{% block innercontent %}
<style type="text/css">
input#id_btc_payout_address {
	width: 100%
}
</style>
<h2>Account Settings</h2>

<div class="col-md-7">
	<div class="panel panel-info">
		<div class="panel-heading">Point of Sale Settings</div>
		<table class="panel-body table table-condensed">
		{{settings_form.as_table}}
		<tr>
			<td></td>
			<td style="text-align: right;">
				<button class="btn btn-primary" id="save_merchant_settings">Save</button>
			</td>
		</tr>
		</table>
	</div>
</div>

<div class="col-md-5">
	<div class="panel panel-success">
		<div class="panel-heading">Coinbase Integration</div>
		{% if coinbase_api %}
		<table class="panel-body table table-condensed">
			<tr>
				<th colspan="2">Receive Address</th>
			</tr>
			<tr>
				<td colspan="2">{{account_info.receive_address}}</td>
			</tr>
			<tr>
				<th>BTC Balance</th>
				<td>{{coinbase_api.balance}}</td>
			</tr>
			<tr>
				<th>Sell Price</th>
				<td>{{coinbase_api.sell_price}}</td>
			</tr>
		</table>
		{% else %}
		<div class="panel-body" style="text-align: center;">
			<a class="btn btn-primary" href="{% url 'coinbase_authorize' %}">
				Authorize Coinbase API
			</a>
		</div>
		{% endif %}
	</div>
</div>

{% if coinbase_api %}
<div class="col-md-12">
	<div class="panel panel-success">
		<div class="panel-heading">Coinbase Transactions</div>
		<table class="panel-body table table-striped">
			<tr>
				<th>Amount</th>
				<th>Status</th>
				<th>Tx ID</th>
				<th>Timestamp</th>
			</tr>
			{% for tx in transactions %}
			<tr>
				<td>{{tx.amount}}</td>
				<td>{{tx.status}}</td>
				<td>{{tx.transaction_id}}</td>
				<td>{{tx.created_at}}</td>
			</tr>
				{% if tx.notes %}
			<tr>
				<td></td>
				<td colspan="3">{{tx.notes}}</td>
			</tr>
				{% endif %}
			{% endfor %}
		</table>
	</div>
</div>
{% endif %}

<script type="application/javascript">
$('button#save_merchant_settings').bind("click", function(){
	// var btc_addr = $('input#id_btc_payout_address').val();
	// var exch_rate = $('input#id_exchange_rate').val();
	// $('input#id_btc_payout_address').val();
	var data = {btc_payout_address: $('input#id_btc_payout_address').val(),
				exchange_rate: $('select#id_exchange_rate').val(),
				payout_with_coinbase: $('input#id_payout_with_coinbase')[0].checked};
	$.ajax({
		type: 'post',
		url: '{% url "pos_merchant_settings" %}',
		dataType: 'json',
		traditional: true,
		data: data,
		success: function(data, textStatus, xhr){
			if (data.error){
				display_error(data.response);
			}else{
				display_success("Merchant Settings saved.");
			}
		},
		error: function(xhr, textStatus, errorThrown){
			alert("Error saving settings.");
		}
	});
	return false;
});

</script>

{% endblock %}
